
// FONT SYLE

@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu:400,700');
$main-font: 'Roboto', sans-serif;
$secondary-font:'Ubuntu', sans-serif;

// COLORS
$gray-dark: #1b1f24;
$gray-mid: #4e5152;
$gray-light: #a4b3b7;
$red: #f9654a;
$blue: #42cee8;
$blue-dark: #1d2d62;
$green: #57f3a5;
$white: #eef7f9;
$white-real: #ffffff;
$yellow: #fccb1b;

// OTHERS
$blue-black-gradient: linear-gradient(153deg, #3e599c 0%, #191a1f 99%);
$padding: 2rem;
$icon-big: 2.7rem;
$icon-small: 2rem;

// FONT SIZE
$xxl: 4.5rem;
$xl: 3.5rem;
$l: 3rem;
$m: 2rem;
$s: 1.7rem;
$xs: 1.5rem;
$xxs: 1.3rem;

